body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    display: flex;
    background: black;
    color: white;
}

header > h1 {
    padding: 0 0 0 20px;
}

#apply_form {
    margin: 20px 20px 0 20px;
    text-align: right;
}

#apply {
    display: inline-flex;
    padding: 10px;
    margin: 0 0 0 auto;
    font-size: 16px;
    background: skyblue;
    border: 1px solid black;
    box-shadow: 0 0 8px gray;
    border-radius: 8px;
}

#apply > a {
    text-decoration: none;
}

#rta-list {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 20px 0 0 20px;
    /* background: skyblue; */
}

#rta-list > p {
    width: 800px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    background: skyblue;
    border-radius: 8px 8px 0 0;
    height: 40px;
    line-height: 40px;
    text-align: center;

}

#others {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    
    margin: 40px 0 0 20px;
}

#others > p {
    width: 800px;
    margin:  0 0 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    background: skyblue;
    border-radius: 8px 8px 0 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}



.list {
    display: grid;
    grid-template-columns: 160px 80px 240px 160px 160px;
    grid-template-rows: 30px 30px 30px;
    border: 1px solid black;
    width: 800px;
    height: 90px;
}

.url_link {
    display: contents;
    text-decoration: none;
    color: inherit;
}

.url_link:hover {
    color: red;
    font-weight: bold;
    opacity: 0.4;
}

.thumb {
    grid-column: 1 / 2; 
    grid-row: 1 / 4;
    /* width: 200px;
    height: 150px; */
    border: 1px solid red;
}

.thumb > img {
    width: 160px;
    height: 90px;
}

.icon {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border: 1px solid black;
    text-align: center;
    
}

.icon > img {
    width: 55px;
    height: 55px;
    
    border-radius: 10px;
}

.site {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    margin: 0;
    padding: 0;
    
    
}

.site > img {
    width: 20px;
    height: 20px;
    vertical-align: -5px;

    
}

.streamer {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    border: 1px solid purple;
}

.topic {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    border: 1px solid orange;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.time {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    border: 1px solid black;
    text-align: right;
    padding-right: 5px;
}

/* .icon {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
} */



.viewers {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    border: 1px solid yellow;
    text-align: right;
    padding-right: 5px;
}



.category {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    border: 1px solid blue;
    font-size: 12px;
    line-height: 30px;
}

.x_id {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    border: 1px solid green;
    text-align: right;
    padding-right: 5px;
}

.x_id > a > img {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    
}

.log {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}


